*,
*:before,
*:after {
	box-sizing: border-box;
	margin: 0;
}

/* Colors */

:root {
	--background: hsl(233, 13%, 13%);
	--link-color: var(--orange);
	--heading-color: var(--orange);
	--title-color: var(--light-grey);
	--category-heading-color: var(--white);
	--line-color: rgba(255, 255, 255, 0.1);

	--light-grey: hsl(0, 0%, 80%);
	--dark-grey: hsl(0, 0%, 10%);
	--white: hsl(0, 0%, 100%);
	--orange: hsl(39, 100%, 50%);
}

/* Utilities */

.visually-hidden {
	display: none;
}

.warning {
	/* color: yellow; */
	font-weight: bold;
	font-size: 0.7em;
}

/* Fonts */

/* <weight>: Use a value from 100 to 900 */
/* <uniquifier>: Use a unique and descriptive class name */

.roboto-font {
	font-family: 'Roboto', sans-serif;
	font-optical-sizing: auto;
	font-weight: inherit;
	font-style: normal;
	font-variation-settings: 'wdth' 100;
}

html {
	font-size: 16px;
	scroll-behavior: smooth;
}

body {
	background: var(--background);
	font-family: 'Roboto', sans-serif;
	color: #999;
	padding-block: 3em;
	padding-inline: 2em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0.3em;
	color: var(--heading-color);
}

a {
	color: var(--link-color);
	text-decoration: none;

	&:hover {
		color: white;
	}
}

p {
	font-size: clamp(11px, calc(0.8em + 0.1vw), 72px);
	line-height: 1.5;
	margin-bottom: 1em;
	max-width: 75%;
}

h1 {
	font-size: 3em;
	font-weight: 600;
	color: var(--title-color);
}

h1.site-title {
	text-align: center;
	padding-block: 0.7em;
}

h2 {
	/* color: darkblue; */
	/* border-bottom: 0.1em solid rgb(0, 143, 209); */
	color: var(--white);
	font-size: 2em;
	font-weight: 400;
	line-height: 1.3;
	margin-bottom: 1em;
}

h3 {
	font-weight: 500;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
}

h4 {
	font-weight: 300;
	font-size: 1.3em;
}

h5 {
	color: inherit;
	font-weight: 300;
	font-size: 0.8em;
}

.primary-nav {
	/* width: 100%; */

	ul.link-menu {
		display: flex;

		justify-content: flex-start;
		column-gap: 0.5em;
		height: auto;
		/* float: left; */
		padding-inline: 1em;
		border-bottom: 2px solid rgba(255, 255, 255, 0.1);
		/* width: 100%; */
		/* box-sizing: border-box; */
	}

	li {
		display: inline-block;
		padding-block: 0.5em;
	}

	a {
		border-left: 2px solid var(--line-color);
		border-top: 2px solid var(--line-color);
		border-right: 2px solid var(--line-color);
		/* border-bottom: 2px solid red; */

		border-top-left-radius: 5px;
		border-top-right-radius: 5px;

		padding-inline: 1em;
		padding-block: 0.5em;
	}
}

.project-list {
	margin-block: 1.5em;
	padding-left: 0;

	h5 {
		color: var(--white);
	}

	> li {
		margin: 1.5em 0;
		list-style: none;
		transition: padding 0.3s ease-out;
		padding-left: 1.2em;
		margin-left: 1em;
		border-left: 0.25em solid rgba(255, 255, 255, 0.1);

		&:hover {
			padding-left: 2em;
		}
	}

	> li p:last-child {
		margin-bottom: 0 !important;
		/* color: red; */
	}

	li::marker {
		/* color: darkblue; */
	}
}

/* #course-projects .project-list {

} */

.container {
	/* width: clamp(250px, 1100px, 3000px); */
	margin-inline: auto;

	width: auto;

	@media only screen and (min-width: 900px) {
		width: 1100px;
	}
}

section {
	padding-top: 3em; /* Required so there is an offset after jumping with an internal page link */
	padding-bottom: 3em;
	border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}

.project-tags {
	/* margin-block: 1em; */
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		display: inline-block;
	}

	a {
		background: var(--background);
		filter: brightness(80%);
		/* color: lightskyblue; */
		color: #666;
		font-size: 0.7em;
		/* border: 1px solid lightskyblue; */
		padding: 0.2em 0.7em;
		text-decoration: none;
		border-radius: 0.5em;
		text-align: center;
		vertical-align: top;
		line-height: 100%;

		&:hover {
			color: var(--light-grey);
			filter: brightness(110%);
		}
	}
}
